
body {
  margin:center;
  width:60%;


}
section
{
  float:left;
  width: 50%;
  border:1px black solid;
  padding:15px;
  box-sizing: border-box;
}

aside
{
  float:left;
  width:50%;
  border:1px black solid;
  padding:15px;
  box-sizing: border-box;
}

footer {
  border:1px black solid;
  padding:10px;
  box-sizing: border-box;

}

.bigL {
  font-size:70px;
  padding:10px;
  float:left;
}

.imgR {
  margin:15px;
  float:right;
}

.athugid {
  background-color: yellow;
  text-align:center;

  
}

/* clearfix*/
.group:before,
.group:after {
  content: "";
  display: block;
  flex
}
.group:after {
  clear: both;
 } 
.group {
  clear: both;
  *zoom: 1;
  border:;
  
}


