body {
	display: grid;
	grid-gap: 0;
	grid-template-areas:
		"header"
		"topnav"
		"content"
		"footer";
 
	max-width: 60em;
	margin:0 auto;
	font-family: 'Roboto mono', serif;
	font-weight: 400;
	line-height: 1.6;
	
	box-sizing:border-box;
	background:#637788;



}

h1{
	font-size:60px;
	font-style:italic;
	margin-top:10px;
	margin-bottom:10px;
	margin-left:15px;
	font-family: 'Anton', sans-serif;


}

h2  {
	margin: .0 0 .3 0;
	text-align:right;
	font-family: 'Anton', sans-serif;



}
footer {
	grid-area: footer;
	box-sizing:border-box;
	padding:25px;
	text-align:center;
	background: linear-gradient(to bottom, #1e5799 0%,#2989d8 43%,#207cca 57%,#7db9e8 100%);

}
header{
	
	display:border-box;
	background:#151B21;
	color:#C7D1D8;


}


.topnav{
	color:#C7D1D8;
	padding:6px;
	box-sizing:border-box;
	grid-area:header;
	background: linear-gradient(to bottom, #135589 0%,#4276a0 43%,#7199b8 57%,#a0bbcf 100%);
}



.content {
	display: grid;
	
	grid-area:content;
	grid-template-areas:
		"article aside1 aside2";
	
	grid-template-columns:1 / span 2 1.5fr 1.5fr;
	padding:auto;
	
}
.article {
	
	padding:15px;
	grid-area:article;
	padding-top:40px;
	background-color:#d1d3cf;

}
.aside1{
	grid-template-areas: aside1;
	padding:15px;
	background:#24323B;
	color:#C7D1D8;


	
}
.aside2{
	grid-template-areas: aside2;
	padding:15px;
	background:#24323B;
	color:#C7D1D8;
}



