@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?fvkdjc');
  src:  url('fonts/icomoon.eot?fvkdjc#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?fvkdjc') format('truetype'),
    url('fonts/icomoon.woff?fvkdjc') format('woff'),
    url('fonts/icomoon.svg?fvkdjc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}
.icon-profile:before {
  content: "\e923";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-spotify:before {
  content: "\ea94";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-twitch:before {
  content: "\ea9f";
}

.icon-spotify {
  color: green;
  font-size: 20px
}