body
{width: 800px}
body
{
	border:solid purple 7px;
	font-family: Times;
}

h1
{
	text-align:center;
	font-family: New Roman;
	color:blue; 
}

h2{color:darkblue;}
strong{color:darkgreen;}
em{color:blue;}
ul{color:green;}

